@import url(../variables.scss);

.nav {

  // .nav__list

  &__list {
    display: flex;
    list-style-type: none;
    justify-content: space-between;

    @media (min-width >= 760px) and (max-width < 980px) {
      height: 100%;
      flex-wrap: wrap;
      align-items: end;
    }
  }

  // .nav__item

  &__item {
    @extend %indents-zero;

    // .nav__item_break-mini
    // .nav__item_break-midi

    &_break-mini {
      display: none;

      @media (max-width >= 430px) and (max-width < 480px) {
        display: block;
        flex-basis: 100%;
        height: 0;
      }
    }

    &_break-midi {
      display: none;

      @media (min-width >= 760px) and (max-width < 980px) {
        display: block;
        flex-basis: 100%;
        height: 0;
      }
    }
  }

  // .nav__link

  &__link {
    font-size: $font-size-big;
    line-height: $line-height-big;
    font-weight: normal;
    text-decoration: none;
    padding: 15px 20px;
    color: inherit;

    @media (min-width >= 760px) and (max-width < 980px) {
      flex-grow: 1;
    }

    // .nav__link_actived

    &_actived {
      background-color: $second-main-color;
      color: $white-color-text;
    }
  }
}